.musisphere {
    top: 20px;
    overflow: hidden;
    position: relative;
    margin: 1em auto;
    padding: 0;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    list-style: none;
    /* transform: rotateZ(-90deg); */
}

.segment:hover {
    cursor: pointer;
    opacity: 0.8;
}

.red {
    background-color: #ae2012;
    transform : rotateZ(330deg);
}
.orange {
    background-color: #bb3e03;
    /* transform: rotateZ(0deg); */
}
.yellow {
    background-color: #ee9b00;
    transform: rotateZ(30deg);
}
.green {
    background-color: #5da271;
    transform: rotateZ(60deg);
}
.darkBlue {
    background-color: #005f73;
    transform: rotateZ(90deg);
}
.pink {
    background-color: #d87cac;
    transform: rotateZ(120deg);
}
.purple {
    background-color: #745c97;
    transform: rotateZ(150deg);
}
.blue {
    background-color: #31afd4;
    transform: rotateZ(180deg);
}
.white {
    background-color: #f7f0f0;
    transform: rotateZ(210deg);
}
.beige {
    background-color: #f3dfc1;
    transform: rotateZ(230deg);
}
.gray {
    background-color: #696773;
    transform: rotateZ(280deg);
}
.black {
    background-color: #050505;
    transform: rotateZ(310deg);
}

.segment {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
    transform: skewY(-60);
}