/* ----------------------------------WHOLE APP STYLE----------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

@font-face {
  font-family: "LeagueSpartan-Bold";
  src: local("LeagueSpartan-Bold"),
    url("./utility/LeagueSpartan-Bold.otf") format("truetype");
  font-weight: bold;
}
* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* -----------------------------------LANDING PAGE STYLE---------------------------------------  */
.wrapper {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle {
  transform: scale(1.5);
  padding: 0;
  width: 20em;
  height: 20em;
  border-radius: 50% 50% 0 0;
  /* list-style: none; */
  overflow: hidden;
}
.logo {
  scale: (0.98);
  display: block;
  position: relative;
  bottom: 161px;
  left: -1px;
}
.enter {
  position: relative;
  bottom: 100px;
  font-size: 1.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
  height: 3rem;
  border-radius: 250px;
  background-color: #5da271;
  -moz-box-shadow: 0px 0px 10px 2px black;
  -webkit-box-shadow: 0px 0px 10px 2px black;
  box-shadow: 0px 0px 15px 2px black;
  cursor: pointer;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  opacity: 0.8;
}
.enter:hover {
  opacity: 1;
}

.button {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  text-align: center;
  transform: skewY(60deg) rotate(15deg);
  padding-top: 20px;
}
.green {
  transform: rotate(0deg) skewY(-60deg);
}
.darkBlue {
  transform: rotate(30deg) skewY(-60deg);
}
.pink {
  transform: rotate(60deg) skewY(-60deg);
}
.blue {
  transform: rotate(90deg) skewY(-60deg);
}

.purple {
  transform: rotate(120deg) skewY(-60deg);
}
.white {
  transform: rotate(150deg) skewY(-60deg);
}
.beige {
  transform: rotate(180deg) skewY(-60deg);
}
.gray {
  transform: rotate(210deg) skewY(-60deg);
}
.black {
  transform: rotate(240deg) skewY(-60deg);
}
.red {
  transform: rotate(270deg) skewY(-60deg);
}
.orange {
  transform: rotate(300deg) skewY(-60deg);
}
.yellow {
  transform: rotate(330deg) skewY(-60deg);
}
.hidden {
  display: none;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

/* ---------------------------------------Musisphere Page------------------------------------ */

.musispherePage {
  /* height: 100vh; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.keyAndSphere {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -30px;
  flex-wrap: wrap;
}
.colorKey {
  height: 360px;
  width: 22%;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  box-sizing: border-box;
}
.keyColors {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 60px;
  padding-right: 15%;
  border-bottom: 1px solid gray;
  box-shadow: inset 2px 2px 0px 1px rgba(70, 70, 70, 0.2),
    inset -2px -2px 0px 1px rgba(0, 0, 0, 0.3);
}
.keyColors:hover {
  cursor: pointer;
  background-color: rgba(100, 100, 100, 0.2);
}
.keyColors p {
  padding-top: 15px;
}
.keyModal {
  height: 50px;
  width: 50px;
  overflow: hidden;
  margin-left: 30px;
  margin-top: 5px;
  box-sizing: border-box;
}
#left-colors {
  margin-left: 75px;
}
#right-colors {
  margin-right: 75px;
}
.musisphere {
  transform: scale(1.5);
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  width: 30em;
  height: 30em;
  border-radius: 50%;
  list-style: none;
  box-shadow: inset 0px 0px 0px 20px rgba(0, 0, 0, 0.75);
  animation: spinningWheel linear 60s infinite;
}
.segment {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
}
.segment:hover {
  cursor: pointer;
  opacity: 0.8;
}

.red {
  background-color: #ae2012;
  transform: rotateZ(30deg) skewY(-60);
}
.orange {
  background-color: #bb3e03;
  transform: rotateZ(60deg) skewY(-60);
}
.yellow {
  background-color: #ee9b00;
  transform: rotateZ(90deg) skewY(-60);
}
.green {
  background-color: #5da271;
  transform: rotateZ(120deg) skewY(-60);
}
.darkBlue {
  background-color: #005f73;
  transform: rotateZ(150deg) skewY(-60);
}
.pink {
  background-color: #d87cac;
  transform: rotateZ(180deg) skewY(-60);
}
.purple {
  background-color: #745c97;
  transform: rotateZ(210deg) skewY(-60);
}
.blue {
  background-color: #31afd4;
  transform: rotateZ(240deg) skewY(-60);
}

.white {
  background-color: #f7f0f0;
  transform: rotateZ(270deg) skewY(-60);
}
.beige {
  background-color: #f3dfc1;
  transform: rotateZ(300deg) skewY(-60);
}
.gray {
  background-color: #696773;
  transform: rotateZ(330deg) skewY(-60);
}
.black {
  background-color: #050505;
  transform: rotateZ(0deg) skewY(-60);
}

@keyframes spinningWheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mediaPlayer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  box-sizing: border-box;
  padding-top: 40px;
}
.mediPlayer div {
  margin: 0 auto;
  padding: 0 auto;
  justify-self: center;
}

.mediaPlayer div h1 {
  text-align: center;
}

/* ------------------------------------NAV BAR STYLING------------------------------- */

#logOutInfo {
  display: none;
}

.navPage {
  height: 50px;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.navBar {
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 0;
  left: 0;
  position: fixed;
  padding-right: 5%;
  box-sizing: border-box;
}

.navBar li {
  list-style: none;
  text-align: center;
  width: 25%;
  padding-top: 10px;
}

.navBar li:first-of-type {
  padding-top: 0;
  /* margin-left: -100px; */
}

/* ------------------------------------HOME PAGE CSS STYLE----------------------------- */

.homePage {
  background-image: url(./utility/smoke.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* -----------------------------EMOTIONS PAGE CSS STYLE-------------------------------- */

/* Main wrapper ------------------------ */
.emotionsPage {
  background-image: url(./utility/smoke5.png);
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

/* icons side -------------------------- */
.iconSide {
  margin-top: -5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.iconsWrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.text h2 {
  position: relative;
  top: -15px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  font-family: "LeagueSpartan-Bold", "quicksand", sans-serif;
}
.logoWrapper {
  display: flex;
  justify-content: center;
  height: 100px;
}
.logoWrapper .circle {
  transform: scale(0.4);
  position: relative;
  bottom: 80px;
}
.emoticon {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 33.333%;
  opacity: 0.8;
}
.emoticon:hover {
  margin: -10px 0 0 0;
  opacity: 1;
}

/* info side ----------------------------------- */
.infoSide {
  margin-top: -5%;
  display: flex;
  display: flex;
  flex-direction: column;
}
.infoBody {
  text-align: right;
  font-size: 1.25rem;
  width: 500px;
  height: 500px;
}
.infoBody h1 {
  font-size: 2.5rem;
}
.infoBody h2 {
  font-size: 4rem;
  font-family: "LeagueSpartan-Bold", "quicksand", sans-serif;
}
.entermusisphere {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.entermusic {
  font-size: 1.5rem;
  width: 30rem;
  height: 3rem;
  border-radius: 250px;
  background-color: #d87cac;
  -moz-box-shadow: 0px 0px 10px 2px black;
  -webkit-box-shadow: 0px 0px 10px 2px black;
  box-shadow: 0px 0px 15px 2px black;
  cursor: pointer;
  opacity: 0.8;
}
.entermusic:hover {
  opacity: 1;
}

/* ------------------------------------/modal css/-------------------------------------------- */

.react-responsive-modal-modal {
  border-radius: 5px;
  height: 690px;
  width: 500px;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
  color: #050505;
}
.modal-wrapper-anger {
  background-color: #f9c6c2;
  height: 650px;
  border: 5px solid #f5aaa3;
}
.modal-wrapper-energy {
  background-color: #fec8ae;
  height: 650px;
  border: 5px solid #feac86;
}
.modal-wrapper-happy {
  background-color: #ffeac2;
  height: 650px;
  border: 5px solid #ffd485;
}
.modal-wrapper-serene {
  background-color: #d8e9dd;
  height: 650px;
  border: 5px solid #b1d3bb;
}
.modal-wrapper-melancholic {
  background-color: #c2f5ff;
  height: 650px;
  border: 5px solid #5ce4ff;
}
.modal-wrapper-romantic {
  background-color: #f1d0e1;
  height: 650px;
  width: 500px;
  border: 5px solid #de91b9;
}
.modal-wrapper-spiritual {
  background-color: #dfd9e8;
  height: 650px;
  border: 5px solid #9f8cba;
}
.modal-wrapper-calm {
  background-color: #cdebf4;
  height: 650px;
  border: 5px solid #58bcda;
}
.modal-wrapper-peaceful {
  background-color: #f7f0f0;
  height: 650px;
  border: 5px solid #cda2a2;
}
.modal-wrapper-soft {
  background-color: #efd3a9;
  height: 650px;
  border: 5px solid #d99530;
}
.modal-wrapper-sad {
  background-color: #dfdfe2;
  height: 650px;
  border: 5px solid #9f9fa8;
}
.modal-wrapper-powerful {
  background-color: #525252;
  height: 650px;
  border: 5px solid #333333;
  color: white;
}

/* ---------------------------------MUSISPHERE MEDIA PLAYER STYLING----------------------------------- */

.musisphereInputBox {
  border: 1px solid darkslategray;
  text-align: center;
  border-radius: 10px;
  color:rgba(70, 70, 70) !important;
}

.audioPlayer {
  margin-left: 30px;
}
